{% extends 'baseback.html.twig' %}

{% block content %}

    <form  method="post">
        <h2 class="card-inside-title">Ajouter sujet</h2>
        <div class="row clearfix js-sweetalert">

            <div class="col-sm-12">

                <p><strong>Sujet :</strong></p>
                <label> Nom Sujet</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="nom sujet..." name="nomS"/>
                </div>

                <button class="btn btn-raised btn-primary waves-effect" data-type="success" name="ajout">CLICK ME</button>
            </div>
        </div>
    </form>

    {#<h1>Ajouter Sujet</h1>
        {{ form(form) }#}



   {# {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Ajouter"/>
      {{ form_end(form) }}
    #}

{% endblock %}


