
        <section>

                            Cher(e)  <b>{{ user.prenom }}</b>,<br>

            Suite à votre discussion avec notre service clientèle, votre commande a été annulé.<br>

            Si vous avez prépayé votre commande, vous serez contacté dans un délai maximum de 2 jours afin de procéder au remboursement. <br>
            Pour plus d'informations, veuillez visiter la Politique de remboursement.<br><br>

           <b> Nous espérons que vous continuerez à faire vos achats sur SunFlower.</b>

                <br>

            <table>

                <tr><td></td><td></td>

                <tr><td></td>
                    <td></td>
                    <td>
                        Payez votre commande cash à la livraison!<br><br>
                        <b>Important:</b><br>
                        <li> Assurez-vous de préparer le montant exact de la commande. <br>Les livreurs ne disposent pas toujours d'espèces pour vous rendre la monnaie.</li><br>
                        <li> Nous acceptons uniquement le payement en Dinar Tunisien.</li><br>
                        <li> Le paiement par carte bancaire, chèques ne sont pas acceptés.</li><br>
                    </td>
                </tr>

            </table>
            <br>


                 <br>
                    Bon Shopping!<br>
                    <br>
                    Bonne journée,<br><br><br>

                    L'équipe de SunFlower Tunisie<br><br>

                   <b> Vous avez des questions?</b><br><br>

                   <li> Visitez notre page Besoin d’aide</li>
                    <li> Pour contacter le service client, veuillez remplir le formulaire de contact ou appelez le +216 54414021</li>
                    <li>Nous sommes à votre disposition: Lun-Ven 10h00-15h00; Sam 10h00-12h00</li>


    </section>



